<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">Test</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
    	<li><%= link_to t("layout.header.logout"),
            destroy_user_session_path, method: :delete %></li>
    </ul>
  </div>
</nav>